* {
    margin: 0;
    padding: 0;
}

a {
    &:hover {
        color: black;
    }
}

img {
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@200;300;400;600&display=swap');
@import 'partials/header';
@import 'base/base';
@import 'partials/footer';
@import 'partials/inicio';
@import 'partials/catalogo';
@import 'partials/cuidados';
@import 'partials/nosotros';
@import 'partials/contacto'