@import '../base/base';

main {
    #contacto {
        margin: 20px 20px 50px 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        h2 {
            text-align: center;
            padding: 20px;
        }
        form {
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 10px 100px 10px 100px;
            background-color: #8ac3b5b2;
            width: 700px;
            height: auto;
            label, input, textarea, div {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
                border: none;
                border-radius: 20px;
                text-align: center;
                padding: 5px 0px;
            }
            .botones {
                input {
                    border-radius: 15px;
                    padding: 10px;
                }
            }
        }
    }
}