#cuidados {
    h2 {
        margin-bottom: 0;
        text-align: center;
        padding: 50px 100px 20px 100px;
        font-weight: 600;
    }

    div {
        margin: 5px 50px 10px 50px;
        padding: 5px 150px 20px 150px;

        @media (max-width: 1024px) {
            margin: 5px 50px 10px 50px;
            padding: 5px 90px 20px 90px;
        }
        @media (max-width: 768px) {
            margin: 5px 40px 10px 40px;
            padding: 5px 40px 20px 40px;
        }
        @media (max-width: 600px) {
            padding: 5px 30px 20px 30px;
        }
        @media (max-width: 480px) {
            margin: 0px 15px 10px 15px;
            padding: 5px 10px 20px 10px;
        }
            

        p {
            font-size: 17px;
            margin-bottom: 40px;
            font-weight: 400;
            line-height: normal;
            @media (max-width: 480px) {
                font-size: 15px;
            }
                
        }
        h3 {
            font-weight: 600;
            margin-bottom: 12px;
            padding-left: 20px;
                
            @media (max-width: 1024px) {
                font-size: 23px;
            }
            @media (max-width: 768px) {
                margin-bottom: 9px;
                padding-left: 15px;
            }
        }
    }
}

#bloques-cuidados {
    .bloquescuidados {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            @include flex ();
        }
        .card {
            @include flex (column, nowrap);
            justify-content: center;
            align-items: center;
            border-radius: 13px;
            @include tamaños (300px, 300px);
            margin-right: 0;
            text-align: center;
            color: whitesmoke;
            box-shadow: 2px 1px 29px 7px rgba(57, 83, 73, 0.75);
            -webkit-box-shadow: 2px 1px 29px 7px rgba(57, 83, 73, 0.75);
            -moz-box-shadow: 2px 1px 29px 7px rgba(57, 83, 73, 0.75);
            @media (max-width: 1024px) {
                justify-self: center;
            }

            &-uno {
                background-image: linear-gradient(90deg, rgba(71, 71, 71, 0.63), rgba(71, 71, 71, 0.63)), url(https://www.clarin.com/img/2020/09/21/una-composicion-posible-con-diferentes___MvMjeyVxD_340x340__1.jpg);
                @extend .card-cuidados;
            }

            &-dos {
                background-image: linear-gradient(90deg, rgba(71, 71, 71, 0.63), rgba(71,71,71,0.63)), url(https://www.proterra.es/modules/ph_simpleblog/covers/10.jpg);
                @extend .card-cuidados;
            }

            &-tres {
                background-image: linear-gradient(90deg, rgba(71,71,71,0.63), rgba(71,71,71,0.63)), url(https://begreen.imgix.net/60015d29a796f161542575.jpg?w=720&h=780&auto=format);
                @extend .card-cuidados;
            }

            h4 {
                font-size: 19px;
                font-weight: 600;
            }

            p {
                font-size: 17.5px;
                padding: 5px;
            }

            @media (max-width: 1024px) {
                @include tamaños (230px, 230px);
            }
            @media (max-width: 768px) {
                @include tamaños (200px, 200px);
                margin-bottom: 20px;
            }
            button {
                border: 2px solid whitesmoke;
                border-radius: 9px;
                background-color: rgba(156, 202, 179, 0.6);
                padding: 5px 15px;
                &:hover {
                    background-color: rgba(214, 237, 226, 0.727);
                }
                a {
                    color: rgb(53, 89, 71);
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}