@import '../base/base';

footer {
    font-family: $font-general;
    background-color: #bbe9d9;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    @media (max-width: 480px) {
        flex-flow: column nowrap;
        gap: 15px;
    }

    .elementos_footer  {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
            line-height: normal;
            @media (max-width: 480px) {
                font-size: 15px;
            }
        }
        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            @media (max-width: 480px) {
                justify-content: center;
            }
            a {
                text-decoration: none;
            }
            img {
                @media (max-width: 480px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}