@import '../base/base';

header {
    position: sticky;
    top: 0;
    h1 {
        text-align: center;
        background-color: #eafef7;
        font-family: $font-titulo;
        font-size: 35px;
        letter-spacing: 10px;
        padding: 5px;
        color: #2d6a5f;
        font-weight: bolder;
        margin-bottom: 0;
        line-height: normal;

        @media screen and (max-width: 480px) {
            font-size: 27px;
        }

        a {
            text-decoration: none;
            color: #2D6A4F;
            padding: 7px;
            font-weight: bolder;
                &:hover {
                    color: #2D6A4F;
                }
        }
    }
    nav {
        text-align: center;
        padding: 7px;
        background-color: #8ac3b5;
        text-transform:  uppercase;
        ul {
            gap: 40px;
            margin-bottom: 0;
            li {
                font-family: $font-general;
                font-size: 15px;
                font-weight: bolder;
                a {
                    text-decoration: none;
                    color: #2D6A4F;
                    font-weight: bolder;
                }
            }
        }
    }
}

.navbar {
    padding: 0;
    margin: 0;
    .nav-link {
        text-decoration: none;
        color: #2D6A4F;
        padding: 7px;
        font-weight: bolder
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            &:hover {
                background-color: #3a5f4e;
                border-radius: 3px;
                color:#8ac3b5;
            }
        }
    }
}
