header {
    position: sticky;
    top: 0;
    z-index: 1;
    h1 {
        text-align: center;
        background-color: map-get($colores, colorSecundario);
        font-family: $font-titulo;
        font-size: 35px;
        letter-spacing: 10px;
        padding: 5px;
        font-weight: bolder;
        margin-bottom: 0;
        line-height: normal;

        @media screen and (max-width: 480px) {
            font-size: 27px;
        }

        a {
            text-decoration: none;
            color: map-get($colores, colorLogo);
            padding: 7px;
            font-weight: bolder;
                &:hover {
                    color: map-get($colores, colorLogo);
                }
        }
    }
    nav {
        text-align: center;
        padding: 7px;
        background-color: map-get($colores, colorPrincipal);
        text-transform:  uppercase;
        ul {
            gap: 40px;
            margin-bottom: 0;
            @media (max-width: 991px) {
                gap: 20px;
            }
            li {
                font-family: $font-general;
                font-size: 15px;
                font-weight: bolder;
                a {
                    text-decoration: none;
                    color: map-get($colores, colorLogo);
                    font-weight: bolder;
                }
            }
        }
    }
}

.navbar {
    padding: 0;
    margin: 0;
    .nav-link {
        text-decoration: none;
        color: map-get($colores, colorLogo);
        padding: 7px;
        font-weight: bolder
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            &:hover {
                background-color: #3a5f4e;
                border-radius: 3px;
                color: map-get($colores, colorPrincipal);
            }
        }
    }
}
