@import '../base/base';

main {
    font-family: $font-general;
    #sectionPrincipal {
        background-image: linear-gradient(-160deg, rgba(255, 255, 255, 0.483), rgba(2, 63, 54, 0.951)), url(../img/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            flex-flow: column nowrap;
        }

        .principal_plantadelmes {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            font-family: $font-general;

            .plantadelmes_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #66a09173;
                margin-left: 0px;
                border-radius: 10px;
                height: 300px;
                width: 500px;
                padding: 0px 10px;
                line-height: normal;

                @media screen and (max-width:1024px) {
                    width: 450px;
                    padding: 0px 20px;
                }
                @media screen and (max-width: 768px) {
                    background-color: #ddfff08a;
                    height: 230px;
                }
                @media screen and (max-width: 600px) {
                    height: 200px;
                    width: 400px;
                }
                @media screen and (max-width: 480px) {
                    width: 300px;
                    height: 280px;
                    padding: 0px 15px;
                }

                &:hover {
                    background-color: #ddfff08a;
                    border-radius: 40px;
                }

                h2 {
                    margin-bottom: 0;
                    @media screen and (max-width: 1024px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 27px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 25px;
                    }
                    @media screen and (max-width: 480px) {
                        font-size: 20px;
                    }
                }

                p {
                    margin-bottom: 0;
                    @media screen and (max-width: 1024px) {
                        font-size: 17px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 15.5px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 14px;
                    }
                }

                h3 {
                    text-align: center;
                    font-size: 20px;
                    padding-top: 10px;
                    margin-bottom: 0;
                    a {
                        text-decoration: none;
                        color: black;
                        @media screen and (max-width: 768px) {
                            color: rgb(51, 103, 74);
                        }
                        @media screen and (max-width: 480px) {
                            font-size: 16px;
                        }

                        &:hover {
                            color:rgba(8, 57, 29, 0.487)
                        }
                    }
                }
            }
        }

        .principal_producto {
            text-align: center;
            margin-left: -12px;

            @media screen and (max-width: 1024px) {
                margin-left: -20px;
            }
            @media screen and (max-width: 768px) {
                margin-left: 0px;
                margin-top: 10px;
            }

            img {
                border-radius: 70%;
                box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.45);
                -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.45);
                -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.45);

                @media screen and (max-width: 1024px) {
                    width: 300px;
                    height: 320px;
                }
                @media screen and (max-width: 768px) {
                    width: 250px;
                    height: 270px;
                }
            }
        }
    }

    #bloques {
        display: flex;
        flex-flow: row wrap;
        background-color: #eafef7;
        justify-content: center;
        padding: 15px 20px;
        position: relative;
        &:hover {
            .textoEscondido {
                display: block;
                position: absolute;
                top: 100px;
                @media screen and (max-width: 768px) {
                    top: 70px;
                }
            }
            .bloque1 {
                transform: translateX(-60%);
                @media screen and (max-width: 768px) {
                    transform: translateX(-70%);
                }
            }
            .bloque2 {
                transform: translateX(60%);
                @media screen and (max-width: 768px) {
                    transform: translateX(70%);
                }
            }
        }

        .textoEscondido {
            display: none;
            text-align: center;
            h3 {
                color: #2D6A4F;
                margin-bottom: 0;
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 600px) {
                    font-size: 17px;
                }
            }
            ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                li {
                    list-style: none;
                    padding: 7px;
                    img {
                        width: 50px;
                        height: 50px;  
                        @media screen and (max-width: 768px) {
                            width: 30px;
                            height: 30px;
                        }
                        @media screen and (max-width: 480px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    a {
                        font-family: $font-titulo;
                        color: #2D6A4F;
                        text-decoration: none;
                        font-size: 25px;
                        @media screen and (max-width: 768px) {
                            font-size: 17px
                        }
                        @media screen and (max-width: 600px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .bloque1 {
            transition: all 2s ease-in;
            img {
                width: 300px;
                height: 300px;
                border: 7px solid #daebe5;
                border-radius: 50%;

                @media screen and (max-width: 1024px) {
                    width: 250px;
                    height: 250px;
                }
                @media screen and (max-width: 768px) {
                    width: 170px;
                    height: 170px;
                    border: 5px solid #daebe5;
                }
                @media screen and (max-width: 600px) {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        .bloque2 {
            margin-left: -80px;
            transition: all 2s ease-in;

            @media screen and (max-width: 768px) {
                margin-left: -40px;
            }
            @media screen and (max-width: 480px) {
                margin-left: -30px;
            }

            img {
                width: 300px;
                height: 300px;
                border: 7px solid #daebe5;
                border-radius: 50%;

                @media screen and (max-width: 1024px) {
                    width: 250px;
                    height: 250px;
                }
                @media screen and (max-width: 768px) {
                    width: 170px;
                    height: 170px;
                    border: 5px solid #daebe5;
                }

                @media screen and (max-width: 600px) {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .secundaria {
        #sectionSecundaria {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            text-align: end;
            margin: 60px 20px;
            height: 250px;
            padding: 0px 150px;
            
            @media screen and (max-width: 1024px) {
                padding: 0px 80px;
            }
            @media screen and (max-width: 768px) {
                padding: 0px 50px;
                margin: 30px 10px;
            }
            @media screen and (max-width: 600px) {
                padding: 0px 20px;
            }
            @media screen and (max-width: 480px) {
                padding: 0px 8px;
                margin: 15px 8px;
            }


            h2 {
                margin-bottom: 0;
                @media screen and (max-width: 1024px) {
                    font-size: 30px;
                }
                @media screen and (max-width:768px){
                    font-size: 25px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 20px;
                }
            }
            p {
                padding-top: 15px;
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: normal;
                @media screen and (max-width:768px){
                    font-size: 15px;
                    padding-top: 10px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 13px;
                    padding-top: 7px;
                }
                a {
                    text-decoration: none;
                    color: #163b2a;
                    font-weight: 600;
                    &:hover {
                        color:#5da384;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .separadorPrincipal {
        width: 100%;
    }
}