@import '../base/base';

main {
    min-height: 100vh;
    font-family: $font-general;
    #nosotros {
        h2 {
            text-align: center;
            padding: 20px;
        }
        div {
            background-color: #8ac3b5b2;
            padding: 30px;

            @media (max-width: 1024px) {
                padding: 30px 40px 50px;
            }
            @media (max-width: 480px) {
                padding: 30px 30px 50px;
            }

            h3 {
                font-weight: 600;
                margin-bottom: 10px;
            }
            p {
                font-size: 17px;
                line-height: normal;
                font-weight: 400px;
                a {
                    color: #163b2a;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
    .nosotros_medidas {
        margin: 20px 85px 70px 85px;

        @media (max-width: 600px) {
            margin: 20px 40px 70px 40px;
        }
        @media (max-width: 480px) {
            margin: 20px 30px 70px 30px;
        }
    }
}