// background card-cuidados
$card: (
    uno: url(https://www.clarin.com/img/2020/09/21/una-composicion-posible-con-diferentes___MvMjeyVxD_340x340__1.jpg),
    dos: url(https://www.proterra.es/modules/ph_simpleblog/covers/10.jpg),
    tres: url(https://begreen.imgix.net/60015d29a796f161542575.jpg?w=720&h=780&auto=format),
)